.btn {
  padding: 8px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.btn[type='submit'] {
  background-color: var(--color-dark-primary);
  color: var(--color-text-light);
}

.btn[type='button'] {
  background-color: var(--color-divider);
  color: var(--color-text-primary);
}

.btn:hover {
  filter: saturate(110%)  brightness(120%);
}
