.btn {
  padding: 8px 15px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.btn[type='submit'] {
  background-color: var(--color-dark-primary);
  color: var(--color-text-light);
}

.btn:hover {
  filter: saturate(110%) brightness(120%);
}

.btn:disabled svg {
  color: var(--color-divider);
}

.icon .container {
  float: left;
  margin-top: -4px;
  margin-bottom: -8px;
  margin-right: 0.2rem;
  filter: var(--svg-icon-filter);
}

.iconOnly .container {
  float: inherit;
  margin: 5px 0 0 0;
}

.link {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.circle {
  border-radius: 50%;
  padding: 0 3px;
}

.sm {
  font-size: 80%;
}
