.table > :global(.btn-group) {
  margin-bottom: 0.5rem;
}

.table table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.table th {
  padding: 10px 16px;
  background-color: var(--color-divider);
}

.table td {
  padding: 8px 16px;
}

.table td.editing {
  padding: 0 10px;
}

.table :global(.rc-table) {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-divider);
  border-top: 0;
}

.table :global(.rc-table-cell) {
  border-bottom: 1px solid var(--color-divider);
  border-right: 1px solid var(--color-divider);
}

.table :global(.rc-table-cell):last-child {
  border-right: 0;
}

.table :global(.rc-table .rc-table-body .rc-table-cell:first-child) {
  border-left: 0;
}

.table :global(.rc-table-thead .rc-table-cell:first-child) {
  border-top-left-radius: var(--border-radius);
}

.table :global(.rc-table-thead .rc-table-cell:last-child) {
  border-top-right-radius: var(--border-radius);
}

.table :global(.rc-table-tbody .rc-table-row:last-child .rc-table-cell) {
  border-bottom: 0;
}

.table :global(.rc-table .rc-table-body .rc-table-row:last-child .rc-table-cell:first-child) {
  border-bottom-left-radius: var(--border-radius);
}

.table :global(.rc-table-cell-ellipsis) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table :global(.rc-table-sticky-holder) {
  position: sticky;
  z-index: 2;
}
