.mainTemperature {
  font-weight: 500;
  font-size: 130%;
}

.aqi {
  font-weight: 200;
  margin-left: 0.5rem;
  font-size: 60%;
  padding: 1px 6px;
  border-radius: var(--border-radius);
  color: var(--color-text-light);
}
