.settings h1 {
  font-size: 30px;
}

.settings h2 {
  margin-bottom: 10px;
}

.settings main {
  margin: 20px 0;
  position: relative;
}

.settings .submit {
  margin-top: 1rem;
}

.iconSelect {
  width: 100%;
  margin: 6px 0;
}

.bookmarkFilter {
  float: right;
}

.highlight {
  background-color: var(--color-light-primary);
}
