* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --color-background: #1a1a1a;
  --color-primary: #fffdea;
  --color-accent: #5c5c5c;
  --color-error: #ff3333;

  --border-radius: 4px;
  /* https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
  --svg-icon-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(309deg) brightness(109%) contrast(101%);
}

body {
  background: var(--color-background);
  font-family: -apple-system, Roboto, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
div,
p,
a,
span {
  color: var(--color-primary);
}

h1 {
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}

a {
  text-decoration: none;
}

.page-container {
  padding: 25px 40px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .page-container {
    width: 90%;
  }
}

@media (min-width: 1201px) {
  .page-container {
    width: 90%;
    padding: 50px 250px;
  }
}

.no-select {
  user-select: none;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
