.header {
  position: relative;
}

.weather {
  position: absolute;
  right: 20px;
  top: 30px;
}

.bookmarks {
  margin: 2rem 0;
}

.bookmarks > h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 16px;
}

.toolbar {
  width: 40px;
  position: fixed;
  bottom: var(--spacing-ui);
  right: var(--spacing-ui);
  display: block;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
}

.toolbar .icon {
  display: block;
  border-radius: 50%;
  background: var(--color-divider);
  position: relative;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

.toolbar .icon img {
  filter: invert(20%);
}

.toolbar .icon:hover img {
  filter: invert(0%);
}

@media (max-width: 640px) {
  .clock h1 {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .clock h1 {
    font-size: 2rem;
  }

  .weather {
    right: 0;
  }

  .weather p {
    font-size: 85%;
  }
}

