.tabs {
  position: absolute;
  left: 0;
  width: 100px;
  list-style: none;
}

.tab {
  padding-left: 7px;
  border-left: 3px solid var(--color-light-primary);
  display: block;
  height: 40px;
  line-height: 40px;
  transition: all 0.3s;
}

.tab.active {
  border-left-color: var(--color-dark-primary);
}

.tabs:hover .tab {
  border-color: transparent;
}

.tabs:hover .tab:hover {
  border-color: var(--color-dark-primary);
}

.panel {
  margin-left: 110px;
}
