.login {
  margin: 5rem 10rem;
}

.login h2 {
  margin-bottom: 10px;
}

.formGroup input {
  width: 100%;
  margin: 6px 0;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-background);
}

.errorMessage {
  color: var(--color-error);
}

.submit {
  margin: 1.5rem 0;
}
